<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="no"/>
    <title>Update</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="style.css" />
  </head>
  <style>
    * {
      user-select: none;
    }
    
    .gender-box {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
    }
    .gender-box img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .gender {
      text-align: center;
      width: 100%;
    }
    .switch {
      width: 80px;
      height: 40px;
      border-radius: 50px;
      background-color: rgb(2, 175, 255);
      position: relative;
    }
    .switch::before {
      content: "";
      position: absolute;
      width: 30px;
      height: 30px;

      left: 55%;
      top: 5px;
      background-color: rgb(255, 255, 255);
      border-radius: 50%;
      transition: all 0.3s ease;
    }
    .switch.move {
      background-color: rgb(6, 255, 2);
    }
    .switch.move::before {
      left: 5px;
    }
    .male img {
      transition: all 0.3s ease;
    }
    .male img.move {
      border: 5px solid rgb(6, 255, 2);
    }
    .female img {
      border: 5px solid rgb(2, 175, 255);
      transition: all 0.3s ease;
    }
    .female img.round {
      border: 0px;
    }
    .gender {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-around;
    }
    #update {
      color: orange;
    }
    .container header .progress .progress-steps {
      background-color: rgb(195, 195, 195);
      font-weight: 600;
      border-radius: 50%;
      line-height: 40px;
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
    }
    .progress {
      padding: 5px 0px;
    }
    .container header .progress::before {
      content: "";
      z-index: -1;
      left: 5px;
      position: absolute;
      width: 96%;
      height: 5px;
      background-color: rgb(195, 195, 195);
    }
    .container form .form-page .form-group input {
      width: 100%;
      height: 50px;
      border: 1px solid;
      padding-left: 13px;
      font-size: 18px;
      border-radius: 5px;
    }
    
    
  </style>
  <body>
    <div class="container">
      <header>
        <h1 >Update</h1>
        <div class="progress">
          <div class="progress-line"></div>
          <div class="progress-steps active">1</div>
          <div class="progress-steps">2</div>
          <div class="progress-steps">3</div>
          <div class="progress-steps">4</div>
          <div class="progress-steps">5</div>
          <div class="progress-steps">6</div>
        </div>
      </header>

      <form action="/optimized/<%=staff.id%>" method="POST">
        <div class="form-page active time-table">
          <header>
            <h2>Monday</h2>
          </header>
          <div class="morning-sections">
            <div class="form-group">
              <label for="mon-first-period">First Period</label>
              <input
                class="monday-shedule"
                type="text"
                value="<%=staff.monday.firstPeriod%>"
                name="mon_first_period"
                id="mon-first-period"
                placeholder="like II CSE B 302"
              />
            </div>
            <div class="form-group">
              <label for="mon-second-peroid">Second Peroid</label>
              <input
                class="monday-shedule"
                type="text"
                value="<%=staff.monday.secondPeriod%>"
                name="mon_second_peroid"
                id="mon-second-peroid"
              />
            </div>
          </div>

          <div class="afterbreak-sections">
            <div class="form-group">
              <label for="mon-third-period">Third Period</label>
              <input
                class="monday-shedule"
                value="<%=staff.monday.thirdPeriod%>"
                type="text"
                name="mon_third_period"
                id="mon-third-period"
              />
            </div>
            <div class="form-group">
              <label for="mon-forth-peroid">Fourth Peroid</label>
              <input
                class="monday-shedule"
                type="text"
                value="<%=staff.monday.fourthPeriod%>"
                name="mon_forth_peroid"
                id="mon-forth-peroid"
              />
            </div>
          </div>
          <div class="afternoon-sectins">
            <div class="form-group">
              <label for="mon-fifth-period">Fifth Period</label>
              <input
                class="monday-shedule"
                type="text"
                value="<%=staff.monday.fifthPeriod%>"
                name="mon_fifth_period"
                id="mon-fifth-period"
              />
            </div>
            <div class="form-group">
              <label for="mon-sixth-period">Sixth Peroid</label>
              <input
                class="monday-shedule"
                type="text"
                value="<%=staff.monday.sixthPeriod%>"
                name="mon_sixth_period"
                id="mon-sixth-period"
              />
            </div>
          </div>

          <div class="last-period">
            <div class="form-group">
              <label for="mon-seventh-period">Seventh Peroid</label>
              <input
                class="monday-shedule"
                type="text"
                value="<%=staff.monday.seventhPeriod%>"
                name="mon_seventh_period"
                id="mon-seventh-period"
              />
            </div>
          </div>

          <button class="nextbtn">NEXT</button>
        </div>
        <div class="form-page time-table">
          <header>
            <h2>Tuesday</h2>
          </header>
          <div class="morning-sections">
            <div class="form-group">
              <label for="tue-first-period">First Period</label>
              <input
                class="tuesday-shedule"
                type="text"
                value="<%=staff.tuesday.firstPeriod%>"
                name="tue_first_period"
                id="tue-first-period"
                placeholder="like II CSE B 302"
              />
            </div>
            <div class="form-group">
              <label for="tue-second-peroid">Second Peroid</label>
              <input
                class="tuesday-shedule"
                type="text"
                value="<%=staff.tuesday.secondPeriod%>"
                name="tue_second_peroid"
                id="tue-second-peroid"
              />
            </div>
          </div>

          <div class="afterbreak-sections">
            <div class="form-group">
              <label for="tue-third_period">Third Period</label>
              <input
                class="tuesday-shedule"
                type="text"
                value="<%=staff.tuesday.thirdPeriod%>"
                name="tue_third-period"
                id="tue-third-period"
              />
            </div>
            <div class="form-group">
              <label for="tue-forth-peroid">Fourth Peroid</label>
              <input
                class="tuesday-shedule"
                type="text"
                value="<%=staff.tuesday.fourthPeriod%>"
                name="tue_forth_peroid"
                id="tue-forth-peroid"
              />
            </div>
          </div>
          <div class="afternoon-sectins">
            <div class="form-group">
              <label for="tue-fifth-period">Fifth Period</label>
              <input
                class="tuesday-shedule"
                type="text"
                value="<%=staff.tuesday.fifthPeriod%>"
                name="tue_fifth_period"
                id="tue-fifth-period"
              />
            </div>
            <div class="form-group">
              <label for="tue-sixth-period">Sixth Peroid</label>
              <input
                class="tuesday-shedule"
                type="text"
                value="<%=staff.tuesday.sixthPeriod%>"
                name="tue_sixth_period"
                id="tue-sixth-period"
              />
            </div>
          </div>

          <div class="last-period">
            <div class="form-group">
              <label for="tue-seventh-period">Seventh Peroid</label>
              <input
                class="tuesday-shedule"
                type="text"
                value="<%=staff.tuesday.seventhPeriod%>"
                name="tue_seventh_period"
                id="tue-seventh-period"
              />
            </div>
          </div>

          <div class="btns">
            <button class="pretbtn">previous</button>
            <button class="nextbtn">NEXT</button>
          </div>
        </div>
        <div class="form-page time-table">
          <header>
            <h2>Wednesday</h2>
          </header>
          <div class="morning-sections">
            <div class="form-group">
              <label for="wed-first-period">First Period</label>
              <input
                class="wednesday-shedule"
                type="text"
                value="<%=staff.wednesday.firstPeriod%>"
                name="wed_first_period"
                id="wed-first-period"
                placeholder="like II CSE B 302"
              />
            </div>
            <div class="form-group">
              <label for="wed-second-peroid">Second Peroid</label>
              <input
                class="wednesday-shedule"
                type="text"
                value="<%=staff.wednesday.secondPeriod%>"
                name="wed_second_peroid"
                id="wed-second-peroid"
              />
            </div>
          </div>

          <div class="afterbreak-sections">
            <div class="form-group">
              <label for="wed-third-period">Third Period</label>
              <input
                class="wednesday-shedule"
                type="text"
                value="<%=staff.wednesday.thirdPeriod%>"
                name="wed_third_period"
                id="wed-third-period"
              />
            </div>
            <div class="form-group">
              <label for="wed-forth-peroid">Fourth Peroid</label>
              <input
                class="wednesday-shedule"
                type="text"
                value="<%=staff.wednesday.fourthPeriod%>"
                name="wed_forth_peroid"
                id="wed-forth-peroid"
              />
            </div>
          </div>
          <div class="afternoon-sectins">
            <div class="form-group">
              <label for="wed-fifth-period">Fifth Period</label>
              <input
                class="wednesday-shedule"
                type="text"
                value="<%=staff.wednesday.fifthPeriod%>"
                name="wed_fifth_period"
                id="wed-fifth-period"
              />
            </div>
            <div class="form-group">
              <label for="wed-sixth-period">Sixth Peroid</label>
              <input
                class="wednesday-shedule"
                type="text"
                value="<%=staff.wednesday.sixthPeriod%>"
                name="wed_sixth_period"
                id="wed-sixth-period"
              />
            </div>
          </div>

          <div class="last-period">
            <div class="form-group">
              <label for="wed-seventh-period">Seventh Peroid</label>
              <input
                class="wednesday-shedule"
                value="<%=staff.wednesday.seventhPeriod%>"
                type="text"
                name="wed_seventh_period"
                id="wed-seventh-period"
              />
            </div>
          </div>

          <div class="btns">
            <button class="pretbtn">previous</button>
            <button class="nextbtn">NEXT</button>
          </div>
        </div>
        <div class="form-page time-table">
          <header>
            <h2>Thursday</h2>
          </header>
          <div class="morning-sections">
            <div class="form-group">
              <label for="thu-first-period">First Period</label>
              <input
                class="thursday-shedule"
                type="text"
                name="thu_first_period"
                value="<%=staff.thursday.firstPeriod%>"
                id="thu-first-period"
                placeholder="like II CSE B 302"
              />
            </div>
            <div class="form-group">
              <label for="thu-second-peroid">Second Peroid</label>
              <input
                class="thursday-shedule"
                type="text"
                value="<%=staff.thursday.secondPeriod%>"
                name="thu_second_peroid"
                id="thu-second-peroid"
              />
            </div>
          </div>

          <div class="afterbreak-sections">
            <div class="form-group">
              <label for="thu-third-period">Third Period</label>
              <input
                class="thursday-shedule"
                type="text"
                value="<%=staff.thursday.thirdPeriod%>"
                name="thu_third_period"
                id="thu-third-period"
              />
            </div>
            <div class="form-group">
              <label for="thu-forth-peroid">Fourth Peroid</label>
              <input
                class="thursday-shedule"
                type="text"
                value="<%=staff.thursday.fourthPeriod%>"
                name="thu_forth_peroid"
                id="thu-forth-peroid"
              />
            </div>
          </div>
          <div class="afternoon-sectins">
            <div class="form-group">
              <label for="thu-fifth-period">Fifth Period</label>
              <input
                class="thursday-shedule"
                type="text"
                name="thu_fifth_period"
                value="<%=staff.thursday.fifthPeriod%>"
                id="thu-fifth-period"
              />
            </div>
            <div class="form-group">
              <label for="thu-sixth-period">Sixth Peroid</label>
              <input
                class="thursday-shedule"
                type="text"
                value="<%=staff.thursday.sixthPeriod%>"
                name="thu_sixth_period"
                id="thu-sixth-period"
              />
            </div>
          </div>

          <div class="last-period">
            <div class="form-group">
              <label for="thu-seventh-period">Seventh Peroid</label>
              <input
                class="thursday-shedule"
                type="text"
                value="<%=staff.thursday.seventhPeriod%>"
                name="thu_seventh_period"
                id="thu-seventh-period"
              />
            </div>
          </div>

          <div class="btns">
            <button class="pretbtn">previous</button>
            <button class="nextbtn">NEXT</button>
          </div>
        </div>
        <div class="form-page time-table">
          <header>
            <h2>Friday</h2>
          </header>
          <div class="morning-sections">
            <div class="form-group">
              <label for="fri-first-period">First Period</label>
              <input
                class="friday-shedule"
                type="text"
                name="fri_first_period"
                value="<%=staff.friday.firstPeriod%>"
                id="fri-first-period"
                placeholder="like II CSE B 302"
              />
            </div>
            <div class="form-group">
              <label for="fri-second-peroid">Second Peroid</label>
              <input
                class="friday-shedule"
                type="text"
                value="<%=staff.friday.secondPeriod%>"
                name="fri_second_peroid"
                id="fri-second-peroid"
              />
            </div>
          </div>

          <div class="afterbreak-sections">
            <div class="form-group">
              <label for="fri-third-period">Third Period</label>
              <input
                class="friday-shedule"
                type="text"
                value="<%=staff.friday.thirdPeriod%>"
                name="fri_third_period"
                id="fri-third-period"
              />
            </div>
            <div class="form-group">
              <label for="fri-forth-peroid">Fourth Peroid</label>
              <input
                class="friday-shedule"
                type="text"
                value="<%=staff.friday.fourthPeriod%>"
                name="fri_forth_peroid"
                id="fri-forth-peroid"
              />
            </div>
          </div>
          <div class="afternoon-sectins">
            <div class="form-group">
              <label for="fri-fifth-period">Fifth Period</label>
              <input
                class="friday-shedule"
                type="text"
                value="<%=staff.friday.fifthPeriod%>"
                name="fri_fifth_period"
                id="fri-fifth-period"
              />
            </div>
            <div class="form-group">
              <label for="fri-sixth-period">Sixth Peroid</label>
              <input
                class="friday-shedule"
                value="<%=staff.friday.sixthPeriod%>"
                type="text"
                name="fri_sixth_period"
                id="fri-sixth-period"
              />
            </div>
          </div>

          <div class="last-period">
            <div class="form-group">
              <label for="fri-seventh-period">Seventh Peroid</label>
              <input
                class="friday-shedule"
                type="text"
                value="<%=staff.friday.seventhPeriod%>"
                name="fri_seventh_period"
                id="fri-seventh-period"
              />
            </div>
          </div>

          <div class="btns">
            <button class="pretbtn">previous</button>
            <button class="nextbtn">NEXT</button>
          </div>
        </div>
        <div class="form-page time-table">
          <header>
            <h2>Saturday</h2>
          </header>
          <div class="morning-sections">
            <div class="form-group">
              <label for="sat-first-period">First Period</label>
              <input
                class="saturday-shedule"
                type="text"
                value="<%=staff.saturday.firstPeriod%>"
                name="sat_first_period"
                id="sat-first-period"
                placeholder="like II CSE B 302"
              />
            </div>
            <div class="form-group">
              <label for="sat-second-peroid">Second Peroid</label>
              <input
                class="saturday-shedule"
                type="text"
                value="<%=staff.saturday.secondPeriod%>"
                name="sat_second_peroid"
                id="sat-second-peroid"
              />
            </div>
          </div>

          <div class="afterbreak-sections">
            <div class="form-group">
              <label for="sat-third-period">Third Period</label>
              <input
                class="saturday-shedule"
                type="text"
                name="sat_third_period"
                id="sat-third-period"
                value="<%=staff.saturday.thirdPeriod%>"
              />
            </div>
            <div class="form-group">
              <label for="sat-forth-peroid">Fourth Peroid</label>
              <input
                class="saturday-shedule"
                type="text"
                name="sat_forth_peroid"
                value="<%=staff.saturday.fourthPeriod%>"
                id="sat-forth-peroid"
              />
            </div>
          </div>
          <div class="afternoon-sectins">
            <div class="form-group">
              <label for="sat-fifth-period">Fifth Period</label>
              <input
                class="saturday-shedule"
                type="text"
                value="<%=staff.saturday.fifthPeriod%>"
                name="sat_fifth_period"
                id="sat-fifth-period"
              />
            </div>
            <div class="form-group">
              <label for="sat-sixth-period">Sixth Peroid</label>
              <input
                class="saturday-shedule"
                type="text"
                value="<%=staff.saturday.sixthPeriod%>"
                name="sat_sixth_period"
                id="sat-sixth-period"
              />
            </div>
          </div>

          <div class="last-period">
            <div class="form-group">
              <label for="sat-seventh-period">Seventh Peroid</label>
              <input
                class="saturday-shedule"
                type="text"
                value="<%=staff.saturday.seventhPeriod%>"
                name="sat_seventh_period"
                id="sat-seventh-period"
              />
            </div>
          </div>
          <div class="btns">
            <button class="pretbtn">previous</button>
            <button id="update" type="submit" class="submit">Update</button>
          </div>
        </div>
      </form>
    </div>

    <script>
      let nextBtn = document.querySelectorAll(".nextbtn");
      let prevBtn = document.querySelectorAll(".pretbtn");
      let formPage = document.querySelectorAll(".form-page");
      let progress_line = document.querySelector(".progress-line");
      let progress_Step = document.querySelectorAll(".progress-steps");
      let currentPage = 0;

      nextBtn.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          e.preventDefault();
          currentPage++;
          progress_Step[currentPage].classList.add("active");

          updatePage();
        });
      });

      prevBtn.forEach((btn) => {
        btn.addEventListener("click", (e) => {
          e.preventDefault();
          progress_Step[currentPage].classList.remove("active");
          currentPage--;

          updatePage();
        });
      });

      function updatePage() {
        formPage.forEach((form) => {
          form.classList.remove("active");
        });
        formPage[currentPage].classList.add("active");
        progress_line.style.width = currentPage * 65 + "px";
      }
    </script>
  </body>
</html>
